body {
    /*font-family: 'Yantramanav', sans-serif;*/
    /*font-weight: 300;*/

    background-color: #252323;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

img {
    image-orientation: from-image;
}

.mt {
    padding-top: 20px;
}

.mtxl {
    padding-top: 50px;
}

.mb {
    padding-bottom: 20px;
}

.mbxl {
    padding-bottom: 50px;
}

.gallery-item {
    float: left;
    position: relative;

    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

.gallery-item img {
    width: 188px;
    height: 188px;
}

.gallery-folder {
    background: transparent url(img/album.svg) no-repeat scroll center center / 100% auto;
    font-size: 0.8em;
    padding: 20px;
}

.gallery-folder img {
    border: none;
    filter:grayscale(100%);
}
.gallery-folder img:hover {
    border: none;
    filter:grayscale(0);
}

.gallery-folder-image-count {
    position: absolute;
    top: 40px;
    right: 40px;
}

.gallery-folder-description {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
}

.gallery-image {
    background: none;
    font-size: 0.8em;
    padding: 20px;
}

.gallery-image-filename {
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 0;
}

.gallery-image img {
    border: none;
    filter:grayscale(100%);
}
.gallery-image img:hover {
    border: none;
    filter:grayscale(0);
}

.gallery-image-description {
    display: none;
}

.breadcrumb {
    background: none;
    text-transform: uppercase;
    text-align: center;
}

.alert-gallery {
    background: #424141;
}

.breadcrumb > li + li::before {
    content: "· ";
    padding: 0 1px;
}
.breadcrumb > li + li::before {
    content: "· ";
    padding: 0 1px;
}

.nav-tabs a, .nav-pills a, .breadcrumb a, .pager a {
    color: #77d45b;
}

a {
    color: #77d45b;
}

a:hover {
    color: #fff;
}
